{% extends 'base.njk' %}

{% block headcss %}
    <link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block maincon %}
    <div class="login-wrap">
        <span class="layui-badge layui-bg-green">{{ title }}</span>
        当前用户： {{ name }}
    </div>
{% endblock %}

