{% extends 'base.njk' %}

{% block headcss %}
    <link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block maincon %}
<div class="login-wrap">
    <span class="layui-badge">{{ title }}</span>
</div>
{% endblock %}
